[Unit]
Description=Daily Feladatverseny backup

[Timer]
OnCalendar=*-*-* 00:10:00
Persistent=true
Unit=feladatverseny-backup.service

[Install]
WantedBy=timers.target

