<!doctype html>
<html lang="hu">
<head>
    <meta charset="utf-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}Feladatverseny{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>
    <header class="site-header">
        <div class="container header-content">
            <a class="site-title" href="/">
                Feladatverseny
            </a>

            <nav>
                <a href="/admin/">Adminisztráció</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
